body {
    background: #ad0707;
    background: linear-gradient(90deg, rgba(173, 7, 7, 1) 0%, rgba(209, 81, 21, 1) 33%, rgba(224, 124, 9, 1) 58%, rgb(238, 228, 179) 100%);
    text-align: center;
}

h1 {
    color: white;
    font-size: 125px;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.5em;
}

h2 {
    color: white;
    font-size: 1.5em;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: end;
}

form {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.8px);
    -webkit-backdrop-filter: blur(14.8px);
    border: 1px solid rgba(255, 255, 255, 0.84);
    max-width: 800px;
    width: 800px;
    padding: 1em;
}

form div,
form div>input {
    max-width: 500px;
    width: 60%;
    padding: 10px;
    border-radius: 5em;
}

input {
    border: #ffffff9f, solid;

}

input[type="submit"]:hover {
    background-color: #68686860;
    color: white;
    font-weight: 600;
    border-color: white;
    border-width: 3px;

}

input[type="submit"] {
    max-width: 45%;
}

div#buttonDiv{
    max-width: 25%;
    margin-left: -10%;
}

div#ipDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input[type="text"]{
    justify-self: center;
    max-width: 40%;
}

div#playerStats {
    max-width: 50%;
    text-align: left;
    justify-self: center;
}


#sprites::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#sprites::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#sprites::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    animation: glow 1.5s infinite alternate;
}

footer {
    margin-top: 5em;
}

body {
    background: linear-gradient(132deg, #000000, #bd0000, #ee0d32, #7e16a0, #1327dc, #ffffff);
    background-size: 400% 400%;
    animation: BackgroundGradient 15s ease infinite;
}

ul,
label,
ul * {
    color: white;
    font-size: 1.2em;
    font-family: monospace;
}

label {
    font-size: 1.8em;
}

select {
    border: white 2px solid;
    padding: 0.5em;
    border-radius: 1em;
    font-weight: 600;
}

div#ipDiv input {
    margin-top: 2%;
    max-height: 2em;
}

ul#ranking{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

ul#ranking li{
    text-align:center;
    text-decoration: none;
}



@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes glow {
    100% {
        text-shadow: 0 0 10px #f8f8f8, 0 0 20px #f8f8f8, 0 0 40px #f8f8f8, 0 0 80px #f8f8f8, 0 0 160px #f8f8f8
    }
}