body {
    background: #ad0707;
    background: linear-gradient(90deg, rgba(173, 7, 7, 1) 0%, rgba(209, 81, 21, 1) 33%, rgba(224, 124, 9, 1) 58%, rgb(238, 228, 179) 100%);
    text-align: center;
}

h1 {
    color: white;
    font-size: 125px;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.5em;
}

h2 {
    color: white;
    font-size: 2em;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}



form {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.8px);
    -webkit-backdrop-filter: blur(14.8px);
    border: 1px solid rgba(255, 255, 255, 0.84);
    max-width: 800px;
    width: 800px;
    padding: 1em;
}

form div:not(#sprites label),
div:not(#sprites)>input {
    max-width: 500px;
    width: 60%;
    padding: 10px;
    border-radius: 5em;
}

input {
    border: rgb(254, 85, 0), solid;
    margin-top: 5%;

}

input[type="submit"]:hover {
    background-color: #ff510054;
    color: white;
    font-weight: 600;
    border-color: white;
    border-width: 3px;
}

input[type="submit"] {
    margin-top: 3em;
    max-width: 40%;
}

div#sprites {
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    align-items: center;
    height: 200px;
    overflow-y: auto;

    border-radius: 6px;
    flex-wrap: wrap;
    gap: 20px;
}

div#sprites label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-top: 5px;
}

div#sprites canvas {
    display: block;
    margin-bottom: 5px;
}

#sprites::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#sprites::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#sprites::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    animation: glow 1.5s infinite alternate;
}

footer {
    margin-top: 5em;
    ;
}

@keyframes glow {
    100% {
        text-shadow: 0 0 10px #f8f8f8, 0 0 20px #f8f8f8, 0 0 40px #f8f8f8, 0 0 80px #f8f8f8, 0 0 160px #f8f8f8
    }
}